[submodule "external/CppUtils-Essential"]
	path = external/CppUtils-Essential
	url = https://github.com/Youda008/CppUtils-Essential.git
[submodule "external/CppUtils-Network"]
	path = external/CppUtils-Network
	url = https://github.com/Youda008/CppUtils-Network.git
